---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

<section class="hero small">
  <h1>Our Services</h1>
  <p>Comprehensive logistics solutions</p>
</section>

<section class="image-services">

  <div class="image-grid">

    <div class="image-card">
      <img src="/images/air.jpg" />
      <div class="overlay"><h3>Air Freight</h3></div>
    </div>

    <div class="image-card">
      <img src="/images/sea.jpg" />
      <div class="overlay"><h3>Sea Freight</h3></div>
    </div>

    <div class="image-card">
      <img src="/images/land.jpg" />
      <div class="overlay"><h3>Land Transport</h3></div>
    </div>

  </div>

</section>

</MainLayout>